
:root {
    --main-text-color: #FFFFFF;
    --secondary-text-color: #030718;
    --bg-color: #030718;
    --grey-color: #46444499;
    --purple-color: #201A4F;
    --lite-purple: #6A54FF;
    --lite-green: #35FF9E;
    --lite-blue: #57E1FF;
    --btn-color-white: #FFFFFF;
    --white-color: #FFFFFF;
    --nav-btn-color: #57e0ff;
    --nav-btn-color2: #57e0ff4b;
    --bg-grey-card: #a5aebc4d;
}
