/* =======================faq ======================= */
@use "../utils/mixins";

.faq {
  padding: 3.5rem 0;
  background: var(--white-color);
}

.faq-box {
  @include mixins.respond(desktop) {
    margin: 0 13.56rem;
  }
}

.faq h2 {
  font-size: 1.75rem;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  font-weight: bold;
  text-align: left;
  line-height: 3.5rem;
  margin-bottom: 2.5rem;
  transition: 0.75s;
  @include mixins.respond(mobile) {
    font-size: 2rem;
  }
  @include mixins.respond(laptop) {
    font-size: 2.4rem;
  }
  @include mixins.respond(desktop) {
    font-size: 2.75rem;
  }
}

.faq-item {
  overflow: hidden;
  margin-bottom: 10px;
  background: #f0f0f0;
  transition: all 0.75s ease-in-out;
}

.faq-item.active {
  background: var(--lite-purple);
  color: white;
}

.faq-question {
  width: 100%;
  padding: 15px;
  font-size: 1.25rem;
  text-align: left;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mixins.respond(mobile) {
    font-size: 1.3rem;
  }
  @include mixins.respond(laptop) {
    font-size: 1.4rem;
  }
  @include mixins.respond(desktop) {
    font-size: 1.5rem;
  }
}

.faq-icon {
  transition: transform 0.75s ease;
  font-weight: 400;
  opacity: 0.5;
}

.faq-item.active .faq-icon {
  transform: rotate(180deg);
}

.faq-item.active .faq-question {
  color: white;
}

.faq-answer {
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.75s ease, opacity 0.75s ease;
}

.faq-item.active .faq-answer {
  max-height: 18.75rem;
  opacity: 1;
  padding: 15px;
}
