@use "../utils/mixins";
.figures {
  display: flex;
  position: relative;
  background-color: var(--white-color);
  clip-path: polygon(-25% -350%, 60% 8%, 100% 8%, 100% 100%, 0 100%);
  @include mixins.respond(tablet) {
    clip-path: polygon(-25% -350%, 45% 11%, 100% 11%, 100% 100%, 0 100%);
  }
  @include mixins.respond(laptop) {
    clip-path: polygon(-25% -350%, 45% 15%, 100% 15%, 100% 100%, 0 100%);
  }
}

.figures ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;

  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
  @include mixins.respond(tablet) {
    margin: 4rem 0;
    display: flex;
    gap: 0;
  }

  @include mixins.respond(laptop) {
    margin: 5rem 0;
  }

  @include mixins.respond(desktop) {
    margin: 6rem 0;
  }
}

.figures ul li:nth-child(1),
.figures ul li:nth-child(2),
.figures ul li:nth-child(3) {
  grid-column: 1;
}


.figures ul li {
  text-align: left;
  @include mixins.respond(tablet) {
    text-align: center;
  }
}

.figures ul li h3 {
  font-size: 2.1875rem;
  color: var(--lite-purple);
  text-transform: uppercase;
  letter-spacing: -0.125rem;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -2%;
  transition: 0.3s;
  @include mixins.respond(mobile) {
    font-size: 2.2rem;
  }
  @include mixins.respond(laptop) {
    font-size: 2.5rem;
  }
  @include mixins.respond(desktop) {
    font-size: 3.75rem;
  }
}

.figures ul li p {
  font-size: 0.875rem;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.25;
  opacity: 0.8;
  margin-bottom: 0.5rem;
  transition: 0.3s;
}

.figures ul li h6 {
  font-size: 0.875rem;
  color: var(--secondary-text-color);
  font-weight: 400;
  line-height: 1.25;
  opacity: 0.5;
  text-align: left;
  margin-top: 0.4rem;
  transition: 0.3s;
}

.figures ul li h4 {
  font-size: 1.75rem;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  font-weight: bold;
  text-align: left;
  line-height: 3.5rem;
  transition: 0.3s;
  @include mixins.respond(mobile) {
    font-size: 2rem;
  }
  @include mixins.respond(laptop) {
    font-size: 2.4rem;
  }
  @include mixins.respond(desktop) {
    font-size: 2.75rem;
  }
}
