/* ========== ОБЩИЕ СТИЛИ ========== */


html {
    scroll-behavior: smooth;
    box-sizing: border-box;

}


/* Класс для скрытых элементов */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/* ========== АНИМАЦИИ ========== */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}


.btn-hover {
    transition: transform 0.2s ease-in-out;
}

.btn-hover:hover {
    transform: scale(1.1);
}

@keyframes pulse {
    0% {
        opacity: 1;
        color: var(--lite-green);
    }

    50% {
        opacity: 0.2;
        color: var(--bg-color);
    }

    100% {
        opacity: 1;
        color: var(--lite-green);
    }
}

.pulsing-text {
    animation: pulse 1.5s infinite ease-in-out;
}